@model HomeDetailsViewModel

@{
	ViewBag.Title = "Employee Details";
	var photoPath = "~/Images/" + (Model.Employee.PhotoPath ?? "no-image.png");
}

	@*
	
	View Data example
	
	<h3>@ViewData["PageTitle"]</h3>
	@{
		var employee = ViewData["EmployeeData"] as EmployeeManagment.Models.Employee;
	}

	<div>
		Name : @employee.Name
	</div>
	<div>
		Email : @employee.Email
	</div>
	<div>
		Department : @employee.Department
	</div>*@
@*
	View Bag Example*@

	@*<h3>@ViewBag.PageTitle</h3>
	
	<div>
		Name : @ViewBag.EmployeeData.Name
	</div>
	<div>
		Email : @ViewBag.EmployeeData.Email
	</div>
	<div>
		Department : @ViewBag.EmployeeData.Department
	</div>*@
@*
	Stronglty Type Example*@

	@*<h3>@Model.PageTitle</h3>
	
	<div>
		Name : @Model.Employee.Name
	</div>
	<div>
		Email : @Model.Employee.Email
	</div>
	<div>
		Department : @Model.Employee.Department
	</div>
*@

<div class="row justify-content-center m-3">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header">
				<h1>@Model.Employee.Name</h1>
			</div>

			<div class="card-body text-center">
				<img class="card-img-top" src="@photoPath" asp-append-version="true" />
				<h4>Employee Id : @Model.Employee.Id</h4>
				<h4>Email : @Model.Employee.Email</h4>
				<h4>Department : @Model.Employee.Department</h4>

			</div>
			<div class="card-footer text-center">
				<a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>				
				<a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
</div>

	@section Scripts
	{
		<script scr="~/js/CustomScript.js"></script>
	}